<div class="panel"  >
    <svg class="bd-placeholder-img card-img-top" width="100%" height="100%" role="img" focusable="false" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
      <image href="./assets/Imagenes/logo.png" width="100%" height="100%" id="logo_img"/>
  </svg>
</div>
<div class="base">
    <section class="about-container container">
        <div class="row ">
            <div class="col-md-6">
                <svg class="bd-placeholder-img card-img-top" preserveAspectRatio="none" width="100%" height="100%" role="img" focusable="false" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                    <image id="foto-pelicula" width="100%" height="100%"></image>
                </svg>
            </div>
            <div class="col-md-6">
                <div class="about-txt" id="pelicula">
                    <h2></h2>
                    <p id="contenido"></p>
                    <p id="director">
                        Director: 
                    </p>
                    <p id="escritor">
                        Escritor:
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="base">
    <main class="information container">
        <div class="row align-items-center col" >
            <div class="col-md-3 information-1">
                <h3 id="presupuesto"></h3>
                <p>Millones de presupuesto</p>
            </div>
            <div class="col-md-3 information-1">
                <h3 id="recaudacion"></h3>
                <p>Millones de recaudación</p>
            </div>
            <div class="col-md-3 information-1">
                <h3 id="nominaciones"></h3>
                <p>Nominaciones</p>
            </div>
            <div class="col-md-3 information-1">
                <h3 id="aprobacion"></h3>
                <p>Aprobación</p>
            </div>
        </div>
    </main>
</div>
<div class="base">
    <main class="information container">
        <div class="row align-items-center col" >
            <div class="col-md-3">
                <div class="reparto-1 txt">
                    <h3>sas</h3>
                    <p>sasa</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="reparto-2 txt">
                    <h3>sas</h3>
                    <p>sasa</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="reparto-3 txt">
                    <h3>sas</h3>
                    <p>sasa</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="reparto-4 txt">
                    <h3>sas</h3>
                    <p>sasa</p>
                </div>
            </div>
        </div>
    </main>
</div>