<div class="panel" >
    <svg class="bd-placeholder-img card-img-top" width="100%" height="100%" role="img" focusable="false" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
      <image href="./assets/Imagenes/logo.png" width="100%" height="100%" id="logo_img"/>
  </svg>
</div>
<div class="busqueda">
    <div class="row  col">
        <div class="col">
            <div class="searchbar d-flex">
                <div class="searchbar-content d-flex">
                    <span aria-hidden="true" class="fa fa-search fa-2x fa-search"></span>
                    <input id="buscador" type="search" class="searchbar-input" placeholder="Buscar">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Filtros" class="busqueda">
    <div class="row justify-content-center col">
        <div class="col">
            <div role="group" class="movie-filter btn-group botones-filtro mostrar">
                <button type="button" title="popular" class="btn btn-info" id="aleatorio">Aleatorio</button>
                <button type="button" title="now_playing" class="btn btn-transparent" id="nombre">Nombre</button>
                <button type="button" title="now_playing" class="btn btn-transparent" id="fecha">Fecha</button>
            </div>
        </div>
    </div>
</div>
<div class="album py-5 busqueda">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="contenedor-tarjetas">
            <!-- Aquí puedes agregar las tarjetas de películas dinámicamente -->
        </div>
    </div>
</div>